.room-temperature {
    margin: 20px;
  }

  .filter-options {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px; /* Controls the space between the checkbox, button, and link */
  }

  .filter-options label {
    margin: 0; /* Remove extra margin from the label */
  }
  
  .filter-options button {
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  .table-danger {
  background-color: #f8d7da;
}